{% extends 'base.html.twig' %}

{% block title %}Clubs!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                    <a class="navbar-brand" href="#">ESPRIT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{path('app_show_classroom')}}">Classrooms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('add_classroom')}}">Add Classroom</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{path('app_show_student')}}">Students</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('add_student')}}">Add Student</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{path('app_show_club')}}">Clubs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('add_club')}}">Add Club</a>
                            </li>
                            
                        </ul>
                    </div>
            </div>
    </nav>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-8 mx-auto">
                {% for message in app.flashes('Success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">REF</th>
                            <th scope="col">createdAt</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for club in clubs %}
                                <tr>
                                    <th scope="row">{{ club.REF }}</th>
                                    <td>{{ club.createdAt.format('d/m/Y') }}</td>
                                    <td>
                                        <a href="{{ path('edit_club',{id : club.id}) }}" class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{{ path('delete_club',{id : club.id}) }}" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
